<form class="flexcol">
	<div class="form-group">
		<label
			class="innil-custom-stuff innil-label-name"
			for="innil-rename-rest-labels"
			>Rename Rest Labels</label
		>
		<div class="form-fields">
			{{#if rename_rest_labels}}
			<input
				class="innil-custom-stuff innil-rename-rest-labels"
				id="innil-rename-rest-labels"
				type="checkbox"
				checked
			/>
			{{else}}
			<input
				class="innil-custom-stuff innil-rename-rest-labels"
				id="innil-rename-rest-labels"
				type="checkbox"
			/>
			{{/if}}
		</div>
		<p class="notes">
			Rename the labels on short and long rest to SR and LR on the core
			sheet.
		</p>
	</div>
	<div>
		<hr />
	</div>
	<div class="form-group">
		<label
			class="innil-custom-stuff innil-label-name"
			for="innil-remove-resources"
			>Remove Resources</label
		>
		<div class="form-fields">
			{{#if remove_resources}}
			<input
				class="innil-custom-stuff innil-remove-resources"
				id="innil-remove-resources"
				type="checkbox"
				checked
			/>
			{{else}}
			<input
				class="innil-custom-stuff innil-remove-resources"
				id="innil-remove-resources"
				type="checkbox"
			/>
			{{/if}}
		</div>
		<p class="notes">
			Remove the resources from the core sheet. They still function, but
			will not show up.
		</p>
	</div>
	<div class="form-group">
		<label
			class="innil-custom-stuff innil-label-name"
			for="innil-remove-alignment"
			>Remove Alignment Field</label
		>
		<div class="form-fields">
			{{#if remove_alignment}}
			<input
				class="innil-custom-stuff innil-remove-alignment"
				id="innil-remove-alignment"
				type="checkbox"
				checked
			/>
			{{else}}
			<input
				class="innil-custom-stuff innil-remove-alignment"
				id="innil-remove-alignment"
				type="checkbox"
			/>
			{{/if}}
		</div>
		<p class="notes">
			Remove the alignment field from the top of the core sheet.
		</p>
	</div>
	<div>
		<hr />
	</div>
	<div class="form-group">
		<label
			class="innil-custom-stuff innil-label-name"
			for="innil-disable-initiative-button"
			>Disable Initiative Button</label
		>
		<div class="form-fields">
			{{#if disable_initiative_button}}
			<input
				class="innil-custom-stuff innil-disable-initiative-button"
				id="innil-disable-initiative-button"
				type="checkbox"
				checked
			/>
			{{else}}
			<input
				class="innil-custom-stuff innil-disable-initiative-button"
				id="innil-disable-initiative-button"
				type="checkbox"
			/>
			{{/if}}
		</div>
		<p class="notes">
			Disable use of the Initiative header on the core sheet.
		</p>
	</div>
	<div>
		<hr />
	</div>
	<div class="form-group">
		<label
			class="innil-custom-stuff innil-label-name"
			for="innil-pretty-trait-selector"
			>Reformat Trait Selectors</label
		>
		<div class="form-fields">
			{{#if pretty_trait_selector}}
			<input
				class="innil-custom-stuff innil-pretty-trait-selector"
				id="innil-pretty-trait-selector"
				type="checkbox"
				checked
			/>
			{{else}}
			<input
				class="innil-custom-stuff innil-pretty-trait-selector"
				id="innil-pretty-trait-selector"
				type="checkbox"
			/>
			{{/if}}
		</div>
		<p class="notes">
			Make the language, resistances, and proficiency selectors less of an
			eye-sore.
		</p>
	</div>
	<div>
		<hr />
	</div>
	<div class="form-group">
		<label
			class="innil-custom-stuff innil-label-name"
			for="innil-collapsible-headers"
			>Collapsible Headers</label
		>
		<div class="form-fields">
			{{#if collapsible_headers}}
			<input
				class="innil-custom-stuff innil-collapsible-headers"
				id="innil-collapsible-headers"
				type="checkbox"
				checked
			/>
			{{else}}
			<input
				class="innil-custom-stuff innil-collapsible-headers"
				id="innil-collapsible-headers"
				type="checkbox"
			/>
			{{/if}}
		</div>
		<p class="notes">Makes the headers on the sheet collapsible.</p>
	</div>
	<div>
		<hr />
	</div>
</form>
<header class="innil-custom-stuff innil-submenu-header">
	<button
		type="submit"
		name="submit"
		class="innil-custom-stuff innil-settings-save"
	>
		<i class="fas fa-save"></i> Save Settings
	</button>
</header>
